{% extends "base.html" %}
{% load static %}

{% block content %}
<form action="https://localhost:8000cart/payment/success/" method="POST">
    <script src="https://checkout.razorpay.com/v1/checkout.js" data-key="{{ key_id }}" data-amount="100"
        data-currency="INR" data-order_id="{{ order_id }}" data-buttontext="Pay with Razorpay" data-name="Stamp 1"
        data-description="This is a stamp" data-image="{% static 'img/' %}" data-prefill.name="Aziz Rahman Yarzai"
        data-prefill.email="azizulrahman.yarzai@gmail.com" data-prefill.contact="9834270242" data-theme.color="#317CFF">
        </script>
    <input type="hidden" custom="Hidden Element" name="hidden">
</form>
{% endblock content %}