{% load static %}

<!-- Footer -->
<footer>
    <div class="row text-center">
        <div class="col-md-4 smed">
            <a href=""><i class="fa fa-facebook-square"></i></a>
            <a href=""><i class="fa fa-instagram"></i></a>
            <a href=""><i class="fa fa-twitter"></i></a>
        </div>
        <div class="col-md-4">
            <p class="text-light copy">Copyright &copy; <span class="year"></span> Dangui Stamp Maker</p>
        </div>
        <div class="col-md-4">
            <a class="navbar-brand" href="#"><img src="{% static 'img/logo.png' %}" alt="LOGO"></a>
        </div>
    </div>
</footer>