{% load static %}

<!-- A check form for logout -->
<form action="{% url 'accounts:logout' %}" id="logout" method="POST">
  {% csrf_token %}
  <input type="hidden">
</form>


<!-- Header
  ============================================= -->
<header id="header">
  <div class="container">
    <div class="header-row">
      <div class="header-column justify-content-start">
        <!-- Logo
          ============================= -->
        <div class="logo"> <a class="d-flex" href="{% url 'pages:home' %}"><img src="{% static 'img/logo/dsm.png' %}"
              width="50px" alt="Dangui Stamp Makers" /></a> </div>
        <!-- Logo end -->
        <!-- Collapse Button
          ============================== -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-nav"> <span></span>
          <span></span> <span></span> </button><!-- Collapse Button end -->

        <!-- Primary Navigation
          ============================== -->
        <nav class="primary-menu navbar navbar-expand-lg">
          <div id="header-nav" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
              <li class="dropdown dropdown-mega"> <a class="dropdown-toggle" href="#">Stamps</a>
                <ul class="dropdown-menu">
                  <li>
                    <div class="dropdown-mega-content">
                      <div class="row">
                        {% if categories %}
                        {% for category in categories %}
                        <div class="col-lg-3"> <span class="sub-title">{{ category.name}}</Span>
                          <ul class="dropdown-mega-submenu">
                            {% if category.get_groups %}
                            {% for group in category.get_groups %}
                            <li><a class="dropdown-item" href="{{ group.get_absolute_url }}">{{ group.name }}</a>
                            </li>
                            {% endfor %}
                            {% endif %}
                          </ul>
                        </div>
                        {% endfor %}
                        {% endif %}
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="dropdown"> <a class="dropdown-toggle" href="#">Features</a>
                <ul class="dropdown-menu">
                  <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#">Headers</a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="index.html">Light Version (Default)</a></li>
                      <li><a class="dropdown-item" href="feature-header-dark.html">Dark Version</a></li>
                      <li><a class="dropdown-item" href="feature-header-primary.html">Primary Version</a></li>
                      <li><a class="dropdown-item" href="index-2.html">Transparent Version</a></li>
                    </ul>
                  </li>
                  <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#">Navigation DropDown</a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="index.html">Light Version (Default)</a></li>
                      <li><a class="dropdown-item" href="feature-navigation-dropdown-dark.html">Dark Version</a></li>
                      <li><a class="dropdown-item" href="feature-navigation-dropdown-primary.html">Primary Version</a>
                      </li>
                    </ul>
                  </li>
                  <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#">Second Navigation</a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="send-money.html">Default Version</a></li>
                      <li><a class="dropdown-item" href="deposit-money.html">Alternate Version</a></li>
                    </ul>
                  </li>
                  <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#">Page Headers</a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="feature-page-header-left-alignment.html">Left Alignment</a>
                      </li>
                      <li><a class="dropdown-item" href="feature-page-header-center-alignment.html">Center Alignment</a>
                      </li>
                      <li><a class="dropdown-item" href="feature-page-header-light.html">Light Version</a></li>
                      <li><a class="dropdown-item" href="feature-page-header-dark.html">Dark Version</a></li>
                      <li><a class="dropdown-item" href="feature-page-header-primary.html">Primary Version</a></li>
                      <li><a class="dropdown-item" href="feature-page-header-custom-background.html">Custom
                          Background</a></li>
                      <li><a class="dropdown-item"
                          href="feature-page-header-custom-background-with-transparent-header.html">Custom Background
                          2</a></li>
                    </ul>
                  </li>
                  <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#">Footer</a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="index.html">Light Version Default</a></li>
                      <li><a class="dropdown-item" href="index-2.html">Alternate Version</a></li>
                      <li><a class="dropdown-item" href="feature-footer-dark.html">Dark Version</a></li>
                      <li><a class="dropdown-item" href="feature-footer-primary.html">Primary Version</a></li>
                    </ul>
                  </li>
                  <li><a class="dropdown-item" href="feature-layout-boxed.html">Layout Boxed</a></li>
                </ul>
              </li>
              <li><a href="{% url 'stamps:browse_stamps' %}">Fees</a></li>
              <li><a href="{% url 'pages:about' %}">About Us</a></li>
              <li><a href="help.html">Help</a></li>
            </ul>
          </div>
        </nav>
        <!-- Primary Navigation end -->
      </div>

      <div class="header-column justify-content-end">
        <!-- Login & Signup Link
          ============================== -->
        <nav class="login-signup navbar navbar-expand">
          <ul class="navbar-nav">
            <li><a href="{% url 'cart:cart_detail' %}"><i
                  class="fas fa-shopping-cart nav-icon"></i>{% if item_count == 0 %}
                {% else %}
                <span class="counter">{{ item_count }}</span>
                {% endif %}
              </a> </li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'cart:cart_detail' %}"><i class="fas fa-envelope nav-icon"></i></a> </li>
            <li class="dropdown avatar">
              <a class="dropdown-toggle profile-img" data-toggle="adm">
                <img
                  src="{% if user.profile.image %} {{ user.profile.image.url }} {% else %}{% static 'img/svg/profile.svg' %}{% endif %}"
                  width="40px" height="40px" class="rounded-circle z-depth-0" alt="profile image">
              </a>
              <ul class="dropdown-menu adm">
                <li><a class="dropdown-item" href="{% url 'accounts:view_profile' %}"><i
                      class="fas fa-user drop-icon"></i>My
                    Profile</a>
                </li>
                <li><a class="dropdown-item" href="feature-layout-boxed.html"><i
                      class="fas fa-briefcase drop-icon"></i>Orders</a>
                </li>
                <li><a class="dropdown-item" href="feature-layout-boxed.html"><i class="fas fa-heart drop-icon"></i>Wish
                    List</a>
                </li>
                <li><a class="dropdown-item" href="javascript:document.getElementById('logout').submit();"><i
                      class="fas fa-sign-out-alt drop-icon"></i>Logout</a></li>
              </ul>
            </li>
            {% else %}
            <li><a href="{% url 'accounts:login' %}">Login</a> </li>
            <li class="align-items-center h-auto ml-sm-3"><a class="btn btn-primary d-none d-sm-block"
                href="{% url 'accounts:register' %}">Sign Up</a></li>
            {% endif %}
          </ul>
        </nav>
        <!-- Login & Signup Link end -->
      </div>
    </div>
  </div>
</header>
<!-- Header End -->