{% load static %}
<div class="container py">
    <div class="row pm">
        <div class="col-lg-2 col-md-2 col-sm-4">
            <div class="mg">
                <img src="{% static 'img/payment/ssl.png' %}" alt="ssl">
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4">
            <div class="mg">
                <img src="{% static 'img/payment/cod.png' %}" alt="cod">
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4">
            <div class="mg">
                <img src="{% static 'img/payment/mastercard.png' %}" alt="mastercard">
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4">
            <div class="mg">
                <img src="{% static 'img/payment/netbanking.png' %}" alt="netbanking">
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4">
            <div class="mg">
                <img src="{% static 'img/payment/visa.png' %}" alt="visa">
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4">
            <div class="mg">
                <img src="{% static 'img/payment/rupay.png' %}" alt="rupay">
            </div>
        </div>
    </div>
</div>