{% load static %}

<!-- Our team section -->

<section id="team">
    <div class="team-container">
        <h1 class="heading">Meet The Team</h1>
        <div class="card-wraper">
            <div class="card">
                <img src="{% static 'img/team-back.jpg' %}" class="card-image" alt="card background">
                <img src="{% static 'img/team1.jpg' %}" class="profile-image" alt="profile imgae">
                <h1>Michelle Gomes</h1>
                <p class="job-title">CEO</p>
                <p class="about">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Libero, quis excepturi. Animi deleniti repellat ratione quidem</p>
                <a href="mailto:azizulrahman.yarzai@gmail.com" class="btn">Contact</a>
                <ul class="social-media">
                    <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
                </ul>
            </div>
            <div class="card">
                <img src="{% static 'img/team-back.jpg' %}" class="card-image" alt="card background">
                <img src="{% static 'img/team4.jpg' %}" class="profile-image" alt="profile imgae">
                <h1>Megan Lopez</h1>
                <p class="job-title">HR Manager</p>
                <p class="about">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Libero, quis excepturi. Animi deleniti repellat ratione quidem</p>
                <a href="#" class="btn">Contact</a>
                <ul class="social-media">
                    <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
                </ul>
            </div>
            <div class="card">
                <img src="{% static 'img/team-back.jpg' %}" class="card-image" alt="card background">
                <img src="{% static 'img/team2.jpg' %}" class="profile-image" alt="profile imgae">
                <h1>Jessica</h1>
                <p class="job-title">Finance Manager</p>
                <p class="about">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Libero, quis excepturi. Animi deleniti repellat ratione quidem</p>
                <a href="#" class="btn">Contact</a>
                <ul class="social-media">
                    <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
                </ul>
            </div>
            <div class="card">
                <img src="{% static 'img/team-back.jpg' %}" class="card-image" alt="card background">
                <img src="{% static 'img/team3.jpg' %}" class="profile-image" alt="profile imgae">
                <h1>Katie</h1>
                <p class="job-title">Sales & Marketing Manager</p>
                <p class="about">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Libero, quis excepturi. Animi deleniti repellat ratione quidem</p>
                <a href="#" class="btn">Contact</a>
                <ul class="social-media">
                    <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>