{% load static %}
{% load socialaccount %}
{% providers_media_js %}
<!doctype html>
<html lang="en">

<head>
    <title>{% block title %}

        {% endblock title %} Dangui Stamp Maker</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- google font B612 -->
    <link href="https://fonts.googleapis.com/css?family=B612&display=swap" rel="stylesheet">

    <!--Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Font Awsome -->
    <script src="https://kit.fontawesome.com/2f1b59521c.js" crossorigin="anonymous"></script>

    <!-- jquery -->
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-validation.min.js' %}"></script>
    <script src="{% static 'js/jquery-validation-additional-methods.min.js' %}"></script>


</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div data-loader="dual-ring"></div>
    </div>
    <!-- Preloader End -->
    <div class="content-container">
        <div class="img">
            <img src="{% static 'img/svg/finance.svg' %}" alt="">
        </div>
        <div class="login-container register">
            <form action="{% url 'accounts:register' %}" id="auth-form" method="POST">
                {% csrf_token %}
                <img class="avatar" src="{% static 'img/svg/profile.svg' %}" alt="">
                <h2>Welcome</h2>
                <div class="social-login">
                    <a href="{% provider_login_url 'google' %}" class="google-login btn">
                        <img src="{% static 'img/logo/google-logo.svg' %}" alt="">Google</a>
                    <a href="{% provider_login_url 'facebook' method='js_sdk' %}" class="facebook-login btn">
                        <img src="{% static 'img/logo/facebook-circular-logo.svg' %}" alt="">Facebook</a>
                </div>
                {% include "partials/alerts.html" %}
                <div class="input-div one">
                    <div>
                        <h5>First Name</h5>
                        <input class="input" type="text" name="fname">
                    </div>
                </div>
                <div class="input-div two">
                    <div>
                        <h5>Last Name</h5>
                        <input class="input" type="text" name="lname">
                    </div>
                </div>
                <div class="input-div two">
                    <div>
                        <h5>Email</h5>
                        <input class="input" type="text" name="email">
                    </div>
                </div>
                <div class="input-div two">
                    <div>
                        <h5>Password</h5>
                        <input class="input" type="password" id="password" name="password">
                    </div>
                </div>
                <div class="input-div last">
                    <div>
                        <h5>Confirm Password</h5>
                        <input class="input" type="password" name="password1">
                    </div>
                </div>
                <input class="auth-btn" type="submit" value="Register">
                <span>Already have account; <a class="link" href="{% url 'accounts:login' %}">Sign In</a></span>
            </form>
        </div>
    </div>


    <!-- Bootstrap popper -->
    <script src="{% static 'js/popper.min.js' %}"></script>

    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- custom javascript -->
    <script src="{% static 'js/authentication.js' %}"></script>
    <script src="{% static 'js/theme.js' %}"></script>

</body>

</html>