{% extends "base.html" %}
{% load static %}



{% block content %}
<!-- Showcase -->
<section id="about">
    <div class="container justify-content-center">
        <h1 class="text-center heading">About Us</h1>
    </div>
</section>
{% include "partials/alerts.html" %}
<section class="about-text">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>OUR MISSION</h3>
                <p>We take orders for Nylon stamp, Pre-Ink stamps and Amul Ice Cream (free delivery within 1km radius)
                    Also we deliver stamps in Goa.
                    <br><br>
                    At Dangui Stamp Makers, our primary objective is to ensure that all customers get value for their
                    money. To achieve this objective, we provide high quality products at very competitive prices.
                    <br><br>
                    Although stamps were first used many years ago, their popularity is still increasing as days go by.
                    They are a perfect way of marking your impression. If you want to create a strong brand for your
                    business, stamps are the way to go. They can help reduce work load by significant proportions. To
                    make parcels and documents appear more credible, consider embossing your business logo. Even though
                    they are quite affordable, stamps are very effective tools and can go a long way in enhancing
                    productivity at the office.
                    <br><br>
                    One of the promotional tools that many business make use of is personalized stamps. Stamps that
                    carry business logos look attractive and can help promote the business through their bold
                    impressions. Remember that a logo is regarded as the face of a business, and most people would
                    identify an organization if they come across its logo. For that reason, you should consider placing
                    your business’ emblem on all official documents. To achieve this objective, you only need to
                    integrate the design on stamps. They are preferred by doctors, engineers, lawyers, accountants and
                    other professionals because of their affordable cost, efficiency and portability.
                    <br><br>

                    You can purchase customized stamps from Dangui Stamp Makers. Choose your preferred font size, stamp
                    size, font
                    style, stamp shape and design. Custom stamps can make your organization seem better than
                    competitors. Get a signature stamp or an ordinary stamp containing acronyms of your company in
                    distinctive font styles.
                    <br><br>

                </p>
            </div>
            <!-- <div class="col-xl-6">
                <img src="{% static 'img/showcase.jpg' %}" class="img-fluid" alt="about">
            </div> -->
        </div>
    </div>
</section>
{% include "partials/pre_footer.html" %}
{% endblock content %}