{% extends "base.html" %}

{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'vendor/owl.carousel/assets/owl.carousel.min.css' %}">
{% endblock extra_head %}
{% block content %}

<!-- Slideshow
    ============================================= -->
<div class="owl-carousel owl-theme single-slideshow" data-autoplay="true" data-loop="true" data-autoheight="true"
  data-nav="true" data-items="1">
  <div class="item">
    <section class="hero-wrap section shadow-md">
      <div class="hero-mask opacity-7 bg-dark"></div>
      <div class="hero-bg" style="background-image:url('{% static "img/showcase.jpg" %}');"></div>
      <div class="hero-content py-2 py-lg-5">
        <div class="container text-center">
          <h2 class="text-16 text-white">Rubber Stamps</h2>
          <p class="text-5 text-white mb-4">Is a craft in which some type of ink made of dye or
            pigment is applied to an image or pattern that has been carved, molded, laser engraved or vulcanized, onto a
            sheet of rubber</p>
          <a href="#" class="btn btn-primary m-2">Open a Free Account</a> <a class="btn btn-outline-light video-btn m-2"
            href="#" data-src="https://www.youtube.com/embed/7e90gBu4pas" data-toggle="modal"
            data-target="#videoModal"><span class="text-2 mr-3"><i class="fas fa-play"></i></span>See How it Works</a>
        </div>
      </div>
    </section>
  </div>
  <div class="item">
    <section class="hero-wrap section shadow-md">
      <div class="hero-mask opacity-7 bg-dark"></div>
      <div class="hero-bg" style="background-image:url('{% static "img/showcase.jpg" %}');"></div>

      <div class="hero-content py-2 py-lg-5">
        <div class="container text-center">
          <h2 class="text-16 text-white">Rubber Stamps</h2>
          <p class="text-5 text-white mb-4">Is a craft in which some type of ink made of dye or
            pigment is applied to an image or pattern that has been carved, molded, laser engraved or vulcanized, onto a
            sheet of rubber</p>
          <a href="#" class="btn btn-primary m-2">Open a Free Account</a> <a class="btn btn-outline-light video-btn m-2"
            href="#" data-src="https://www.youtube.com/embed/7e90gBu4pas" data-toggle="modal"
            data-target="#videoModal"><span class="text-2 mr-3"><i class="fas fa-play"></i></span>See How it Works</a>
        </div>
      </div>
    </section>
  </div>
</div>
<!-- Slideshow end -->

{% include "partials/alerts.html" %}

<!-- Browse Stamps section -->
<section id="browse-stamps">
  <div class="header">
    <h1 class="heading">Browse Stamps</h1>
  </div>
  <div class="stamp-container">

    {% if categories %}

    {% for category in categories %}
    <div class="stamp-list-item">
      <img src="{{ category.image.url }}" class='rounded' width='100%' alt="{{ category.slug }}">
      <a href="{{ category.get_absolute_url }}" class='head'>{{ category.name }} <i class="fa fa-chevron-right"></i></a>
      {% if category.discount > 0 %}
      <span>up to {{ category.discount }}% off</span>
      {% endif %}
      <hr>
      <div class="stamp-types">
        {% if category.get_groups %}
        {% for group in category.get_groups %}
        <a href="{{ group.get_absolute_url }}">{{ group.name }}</a>
        {% endfor %}
        {% endif %}
      </div>
    </div>
    {% endfor %}
    {% else %}
    <h1>Database is <em>Empty</em></h1>
    {% endif %}
  </div>
</section>
<div class='text-center'>
  <a href='{% url "stamps:browse_stamps" %}' class="btn btn-inline-block btn-danger mb-3">Browse All Stamps</a>
</div>

{% include "partials/pre_footer.html" %}

{% endblock content %}

{% block extra_scripts %}
<script src="{% static 'vendor/owl.carousel/owl.carousel.min.js' %}"></script>
<!-- <script>
  const slider = document.querySelector(".bd-example");
  const nav = document.querySelector("nav");
  const options = {
    root: null,
    threshold: 0,
    rootMargin: "-70px"
  }

  const observer = new IntersectionObserver(function (entries, observer) {
    entries.forEach(entry => {
      if (!entry.isIntersecting) {
        nav.classList.remove('bg-tran');
        nav.classList.add('inverse');
      }
      else {
        nav.classList.add('bg-tran');
        nav.classList.remove('inverse');
      }
    })
  }, options);

  observer.observe(slider);
</script> -->
{% endblock extra_scripts %}