{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- Image Slider -->
<section>
  <div class="bd-example">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      </ol>

      <div class="carousel-inner">
        <div class="carousel-item active drk">
          <img src="{% static 'img/showcase.jpg' %}" class="d-block w-100" alt="showcase">
          <div class="carousel-caption d-md-block mr-auto ml-auto ">
            {% include "partials/alerts.html" %}
            <h5>First slide label</h5>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            <a class="btn btn-primary" href="#" role="button">Learn More</a>
            <a class='anchor-hidden' href="#">Learn More --></a>
          </div>
        </div>
        <div class="carousel-item drk">
          <img src="{% static 'img/showcase.jpg' %}" class="d-block w-100" alt="showcase">
          <div class="carousel-caption d-md-block mr-auto ml-auto">
            <h5>Second slide label</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a class="btn btn-primary" href="#" role="button">Learn More</a>
            <a class='anchor-hidden' href="#">Learn More --></a>
          </div>
        </div>
        <div class="carousel-item drk">
          <img src="{% static 'img/showcase.jpg' %}" class="d-block w-100" alt="showcase">
          <div class="carousel-caption d-md-block mr-auto ml-auto">
            <h5>Third slide label</h5>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            <a class="btn btn-primary" href="#" role="button">Learn More</a>
            <a class='anchor-hidden' href="#">Learn More --></a>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</section>

<!-- Browse Stamps section -->
<section id="browse-stamps">
  <div class="header">
    <h1 class="heading">Browse Stamps</h1>
  </div>
  <div class="stamp-container">

    {% if categories %}

    {% for category in categories %}
    <div class="stamp-list-item">
      <img src="{{ category.image.url }}" class='rounded' width='100%' alt="{{ category.slug }}">
      <a href="{{ category.get_absolute_url }}" class='head'>{{ category.name }} <i class="fa fa-chevron-right"></i></a>
      <span>up to 30% off</span>
      <div class="stamp-types">

        {% if category.get_groups %}
        {% for group in category.get_groups %}
        <a href="{{ group.get_absolute_url }}">{{ group.name }}</a>
        {% endfor %}
        {% endif %}
      </div>
    </div>
    {% endfor %}
    {% else %}
    <h1>Database is <em>Empty</em></h1>
    {% endif %}
  </div>
</section>

{% include "partials/pre_footer.html" %}

{% endblock content %}

{% block extra_scripts %}
<script>
  const slider = document.querySelector(".bd-example");
  const nav = document.querySelector("nav");
  const options = {
    root: null,
    threshold: 0,
    rootMargin: "-70px"
  }

  const observer = new IntersectionObserver(function (entries, observer) {
    entries.forEach(entry => {
      if (!entry.isIntersecting) {
        nav.classList.remove('bg-tran');
        nav.classList.add('inverse');
      }
      else {
        nav.classList.add('bg-tran');
        nav.classList.remove('inverse');
      }
    })
  }, options);

  observer.observe(slider);
</script>
{% endblock extra_scripts %}