{% extends "base.html" %}
{% load static %}


{% block extra_head %}
<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.min.css' %}">

{% endblock extra_head %}
{% block content %}
<!-- Header ============================================= -->

<!-- Secondary Menu ============================================= -->
<div class="bg-primary">
    <div class="container d-flex justify-content-center">
        <ul class="nav secondary-nav">
            <li class="nav-item"> <a class="nav-link" href="{% url 'accounts:view_profile' %}">Account</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'orders:view_orders' %}">Orders</a></li>
            <li class="nav-item"> <a class="nav-link active" href="{% url 'pages:wishlist' %}">Wish List</a></li>
        </ul>
    </div>
</div>
<!-- Secondary Menu end -->

<!-- Content ============================================= -->
<h2 class="heading mt-4">Your Wishlist</h2>
<div class="container">
    {% include "partials/alerts.html" %}
    <section id="stamps-list">
        <div class="stamp-container">
            {% if wishlist_items %}
            {% for wishlist_item in wishlist_items %}
            <div class="stamp-details">
                <div class="stamp-img">
                    <a href="{{ wishlist_item.product.get_absolute_url }}"><img
                            src="{{ wishlist_item.product.image.url }}" class='rounded' width="100%"
                            alt="{{ product.slug }}"></a>
                </div>
                <div class="stamp-desc">
                    <a href="{{ wishlist_item.product.get_absolute_url }}"
                        class="stamp-name">{{ wishlist_item.product.name }}</a>
                    <p class="stamp-price">&#8377; {{ wishlist_item.product.price }}</p>
                    <p class="stamp-size">
                        {% if  wishlist_item.product.height %}
                        {{ wishlist_item.product.height }}cm x
                        {% endif %}
                        {% if wishlist_item.product.width %}
                        {{ wishlist_item.product.width }}cm
                        {% endif %}
                        {% if  wishlist_item.product.diameter %}
                        {{ wishlist_item.product.diameter }}cm Diameter
                        {% endif %}
                    </p>
                    <a href="{{ wishlist_item.product.get_absolute_url }}" class="stamp-detail-btn">Customize</a>
                    <a href="{% url 'pages:remove_from_wishlist' wishlist_item.id %}"
                        class="stamp-detail-btn">Remove</a>
                </div>
            </div>
            {% endfor %}

            {% else %}
            <h5 class="text-center m-5" style="color: red;">There are no stamps in your wishlist yet. <a
                    href="{% url 'stamps:browse_stamps' %}">Browse Stamps</a></h5>
            {% endif %}
        </div>
    </section>
</div>

<!-- Content end -->

{% endblock content %}


{% block extra_scripts %}

{% endblock extra_scripts %}