{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Page Header
============================================= -->
<section class="page-header page-header-text-light bg-dark-3 py-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <ul class="breadcrumb mb-0">
                    <li><a href="index.html">Home</a></li>
                    <i class="fas fa-chevron-right next"></i>
                    <li class="active">Contact Us</li>
                </ul>
            </div>
            <div class="col-12">
                <h1>Contact Us</h1>
            </div>
        </div>
    </div>
</section>
<!-- Page Header End -->

<!-- Browse Stamps section -->
<section id="browse-stamps">
    <div>
        <h1 class="heading">Browse Stamps</h1>
    </div>
    <div class="stamp-container">
        <!-- First row -->
        <div class="stamp-list-item">
            <img src="{% static 'img/stamps_categories/address-stamps.jpg' %}" class='rounded' width='100%'
                alt="address stamp">
            <a href="#" class='head'>Address Stamps <i class="fa fa-chevron-right"></i></a>
            <span>up to 30% off</span>
            <div class="stamp-types">
                <a href="stamps-list.html">address & return address stamps</a>
                <a href="#">designer & Monogram address stamps</a>
                <a href="#">custom stamps with your photo display</a>
                <a href="#">Upload your own artwork holidays addres stamps</a>
            </div>
        </div>
        <div class="stamp-list-item">
            <img src="{% static 'img/stamps_categories/corporate-seal-stamps.jpg' %}" class='rounded' width='100%'
                alt="corporate-seal-stamp">
            <a href="#" class='head align-middle'>Seal Stamp <i class="fa fa-chevron-right"></i></a>
            <span>up to 30% off</span>
            <div class="stamp-types">
                <a href="#">address & return address stamps</a>
                <a href="#">designer & Monogram address stamps</a>
                <a href="#">custom stamps with your photo display</a>
                <a href="#">Upload your own artwork holidays addres stamps</a>
            </div>
        </div>
        <div class="stamp-list-item">
            <img src="{% static 'img/stamps_categories/office-stamps.jpg' %}" class='rounded' width='100%'
                alt="office stampss">
            <a href="#" class='head'>Office stamp <i class="fa fa-chevron-right"></i></a>
            <span>up to 30% off</span>
            <div class="stamp-types">
                <a href="#">address & return address stamps</a>
                <a href="#">designer & Monogram address stamps</a>
                <a href="#">custom stamps with your photo display</a>
                <a href="#">Upload your own artwork holidays addres stamps</a>
            </div>
        </div>
        <div class="stamp-list-item">
            <img src="{% static 'img/stamps_categories/inspection-stamps.jpg' %}" class='rounded' width='100%'
                alt="inspection stamp">
            <a href="#" class='head'>Inspection Stamp <i class="fa fa-chevron-right"></i></a>
            <span>up to 30% off</span>
            <div class="stamp-types">
                <a href="#">address & return address stamps</a>
                <a href="#">designer & Monogram address stamps</a>
                <a href="#">custom stamps with your photo display</a>
                <a href="#">Upload your own artwork holidays addres stamps</a>
            </div>
        </div>
        <!-- Second Row -->
        <div class="stamp-list-item">
            <img src="{% static 'img/stamps_categories/address-stamps.jpg' %}" class='rounded' width='100%'
                alt="address stamp">
            <a href="#" class='head'>Address Stamps <i class="fa fa-chevron-right"></i></a>
            <span>up to 30% off</span>
            <div class="stamp-types">
                <a href="#">address & return address stamps</a>
                <a href="#">designer & Monogram address stamps</a>
                <a href="#">custom stamps with your photo display</a>
                <a href="#">Upload your own artwork holidays addres stamps</a>
            </div>
        </div>
        <div class="stamp-list-item">
            <img src="{% static 'img/stamps_categories/corporate-seal-stamps.jpg' %}" class='rounded' width='100%'
                alt="corporate-seal-stamp">
            <a href="#" class='head align-middle'>Seal Stamp <i class="fa fa-chevron-right"></i></a>
            <span>up to 30% off</span>
            <div class="stamp-types">
                <a href="#">address & return address stamps</a>
                <a href="#">designer & Monogram address stamps</a>
                <a href="#">custom stamps with your photo display</a>
                <a href="#">Upload your own artwork holidays addres stamps</a>
            </div>
        </div>
        <div class="stamp-list-item">
            <img src="{% static 'img/stamps_categories/office-stamps.jpg' %}" class='rounded' width='100%'
                alt="office stampss">
            <a href="#" class='head'>Office stamp <i class="fa fa-chevron-right"></i></a>
            <span>up to 30% off</span>
            <div class="stamp-types">
                <a href="#">address & return address stamps</a>
                <a href="#">designer & Monogram address stamps</a>
                <a href="#">custom stamps with your photo display</a>
                <a href="#">Upload your own artwork holidays addres stamps</a>
            </div>
        </div>
        <div class="stamp-list-item">
            <img src="{% static 'img/stamps_categories/inspection-stamps.jpg' %}" class='rounded' width='100%'
                alt="inspection stamp">
            <a href="#" class='head'>Inspection Stamp <i class="fa fa-chevron-right"></i></a>
            <span>up to 30% off</span>
            <div class="stamp-types">
                <a href="#">address & return address stamps</a>
                <a href="#">designer & Monogram address stamps</a>
                <a href="#">custom stamps with your photo display</a>
                <a href="#">Upload your own artwork holidays addres stamps</a>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
<!-- Browse Stamps section -->
<section id="browse-stamps">
    <div>
        <h1 class="heading">Browse Stamps</h1>
    </div>
    <div class="stamp-container">
        <!-- First row -->
        <div class="stamp-list-item">
            <img src="assets/img/stamps_categories/address-stamps.jpg" class='rounded' width='100%' alt="address stamp">
            <a href="#" class='head'>Address Stamps <i class="fa fa-chevron-right"></i></a>
            <span>up to 30% off</span>
            <div class="stamp-types">
                <a href="stamps-list.html">address & return address stamps</a>
                <a href="#">designer & Monogram address stamps</a>
                <a href="#">custom stamps with your photo display</a>
                <a href="#">Upload your own artwork holidays addres stamps</a>
            </div>
        </div>
        <div class="stamp-list-item">
            <img src="assets/img/stamps_categories/corporate-seal-stamps.jpg" class='rounded' width='100%'
                alt="corporate-seal-stamp">
            <a href="#" class='head align-middle'>Seal Stamp <i class="fa fa-chevron-right"></i></a>
            <span>up to 30% off</span>
            <div class="stamp-types">
                <a href="#">address & return address stamps</a>
                <a href="#">designer & Monogram address stamps</a>
                <a href="#">custom stamps with your photo display</a>
                <a href="#">Upload your own artwork holidays addres stamps</a>
            </div>
        </div>
        <div class="stamp-list-item">
            <img src="assets/img/stamps_categories/office-stamps.jpg" class='rounded' width='100%' alt="office stampss">
            <a href="#" class='head'>Office stamp <i class="fa fa-chevron-right"></i></a>
            <span>up to 30% off</span>
            <div class="stamp-types">
                <a href="#">address & return address stamps</a>
                <a href="#">designer & Monogram address stamps</a>
                <a href="#">custom stamps with your photo display</a>
                <a href="#">Upload your own artwork holidays addres stamps</a>
            </div>
        </div>
        <div class="stamp-list-item">
            <img src="assets/img/stamps_categories/inspection-stamps.jpg" class='rounded' width='100%'
                alt="inspection stamp">
            <a href="#" class='head'>Inspection Stamp <i class="fa fa-chevron-right"></i></a>
            <span>up to 30% off</span>
            <div class="stamp-types">
                <a href="#">address & return address stamps</a>
                <a href="#">designer & Monogram address stamps</a>
                <a href="#">custom stamps with your photo display</a>
                <a href="#">Upload your own artwork holidays addres stamps</a>
            </div>
        </div>
        <!-- Second Row -->
        <div class="stamp-list-item">
            <img src="assets/img/stamps_categories/address-stamps.jpg" class='rounded' width='100%' alt="address stamp">
            <a href="#" class='head'>Address Stamps <i class="fa fa-chevron-right"></i></a>
            <span>up to 30% off</span>
            <div class="stamp-types">
                <a href="#">address & return address stamps</a>
                <a href="#">designer & Monogram address stamps</a>
                <a href="#">custom stamps with your photo display</a>
                <a href="#">Upload your own artwork holidays addres stamps</a>
            </div>
        </div>
        <div class="stamp-list-item">
            <img src="assets/img/stamps_categories/corporate-seal-stamps.jpg" class='rounded' width='100%'
                alt="corporate-seal-stamp">
            <a href="#" class='head align-middle'>Seal Stamp <i class="fa fa-chevron-right"></i></a>
            <span>up to 30% off</span>
            <div class="stamp-types">
                <a href="#">address & return address stamps</a>
                <a href="#">designer & Monogram address stamps</a>
                <a href="#">custom stamps with your photo display</a>
                <a href="#">Upload your own artwork holidays addres stamps</a>
            </div>
        </div>
        <div class="stamp-list-item">
            <img src="assets/img/stamps_categories/office-stamps.jpg" class='rounded' width='100%' alt="office stampss">
            <a href="#" class='head'>Office stamp <i class="fa fa-chevron-right"></i></a>
            <span>up to 30% off</span>
            <div class="stamp-types">
                <a href="#">address & return address stamps</a>
                <a href="#">designer & Monogram address stamps</a>
                <a href="#">custom stamps with your photo display</a>
                <a href="#">Upload your own artwork holidays addres stamps</a>
            </div>
        </div>
        <div class="stamp-list-item">
            <img src="assets/img/stamps_categories/inspection-stamps.jpg" class='rounded' width='100%'
                alt="inspection stamp">
            <a href="#" class='head'>Inspection Stamp <i class="fa fa-chevron-right"></i></a>
            <span>up to 30% off</span>
            <div class="stamp-types">
                <a href="#">address & return address stamps</a>
                <a href="#">designer & Monogram address stamps</a>
                <a href="#">custom stamps with your photo display</a>
                <a href="#">Upload your own artwork holidays addres stamps</a>
            </div>
        </div>
    </div>
</section>