{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Page Header
============================================= -->
<div class="container">
    <section class="page-header page-header-text-light bg-dark-5 py-5">
        <div class="container">
            <div class="row text-center">
                <div class="col-12">
                    <ul class="breadcrumb mb-0">
                        <li><a href="{% url 'pages:home' %}">Home</a></li>
                        <i class="fas fa-chevron-right next"></i>
                        <li class="active">Browse Stamps</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- Page Header End -->

<!-- Browse Stamps section -->
<section id="browse-stamps">
    <div class="header">
        <h1 class="heading">Browse Stamps</h1>
    </div>
    <div class="stamp-container">

        {% if categories %}

        {% for category in categories %}
        <div class="stamp-list-item">
            <img src="{{ category.image.url }}" class='rounded' width='100%' alt="{{ category.slug }}">
            <a href="{{ category.get_absolute_url }}" class='head'>{{ category.name }} <i
                    class="fa fa-chevron-right"></i></a>
            {% if category.discount > 0 %}
            <span>up to {{ category.discount }}% off</span>
            {% endif %}
            <div class="stamp-types">

                {% if category.get_groups %}
                {% for group in category.get_groups %}
                <a href="{{ group.get_absolute_url }}">{{ group.name }}</a>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h1>Database is <em>Empty</em></h1>
        {% endif %}
    </div>
</section>
{% endblock content %}