{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Page Header
============================================= -->
<div class="container">
    <section class="page-header page-header-text-light bg-dark-5 py-5">
        <div class="container">
            <div class="row text-center">
                <div class="col-12">
                    <ul class="breadcrumb mb-0">
                        <li><a href="{% url 'pages:home' %}">Home</a></li>
                        <i class="fas fa-chevron-right next"></i>
                        <li><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
                        <i class="fas fa-chevron-right next"></i>
                        <li class="active">{{ group.name }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- Page Header End -->

<!-- List of the stamps -->
<section id="stamps-list">
    {% if group %}
    <div class="container">
        <h1 class="heading">{{ group.name }}</h1>
        {% if group.description %}
        <p class="dec">{{ group.description }}</p>
        {% endif %}
    </div>
    {% endif %}
    <div class="stamp-container">
        {% if products %}
        {% for product in products %}
        <div class="stamp-details">
            <div class="stamp-img">
                <a href="{{ product.get_absolute_url }}"><img src="{{ product.image.url }}" class='rounded' width='100%'
                        alt="{{ product.slug }}"></a>
            </div>
            <div class="stamp-desc">
                <a href="{{ product.get_absolute_url }}" class="stamp-name">{{ product.name }}</a>
                <p class="stamp-price">&#8377; {{ product.price }}</p>
                <p class="stamp-size">
                    {% if  product.height %}
                    {{ product.height }}cm x
                    {% endif %}
                    {% if  product.width %}
                    {{ product.width }}cm
                    {% endif %}
                    {% if  product.diameter %}
                    {{ product.diameter }}cm Diameter
                    {% endif %}
                </p>
                <a href="{{ product.get_absolute_url }}" class="stamp-detail-btn">Details</a>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</section>


{% endblock content %}