{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Page Header
============================================= -->
<section class="page-header page-header-text-light bg-dark-3 py-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <ul class="breadcrumb mb-0">
                    <li><a href="index.html">Home</a></li>
                    <i class="fas fa-chevron-right next"></i>
                    <li class="active">Contact Us</li>
                </ul>
            </div>
            <div class="col-12">
                <h1>Contact Us</h1>
            </div>
        </div>
    </div>
</section>
<!-- Page Header End -->

<!-- List of the stamps -->
<section id="stamps-list">
    {% if group %}
    <div>
        <h1 class="heading">{{ group.name }}</h1>
    </div>
    {% endif %}
    <div class="stamp-container">
        {% if products %}
        {% for product in products %}
        <div class="stamp-details">
            <div class="stamp-img">
                <a href="stamp-customization.html"><img src="{{ product.image.url }}" class='rounded' width='100%'
                        alt="{{ product.slug }}"></a>
            </div>
            <div class="stamp-desc">
                <a href="stamp-customization.html" class="stamp-name">{{ product.name }}</a>
                <p class="stamp-price">&#8377; {{ product.price }}</p>
                <p class="stamp-size">{{ product.height}}cm x {{ product.width }}cm</p>
                <a href="{{ product.get_absolute_url }}" class="stamp-detail-btn">Details</a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endif %}

{% endblock content %}