{% extends "base.html" %}
{% load static %}

{% block extra_head %}
<script src="{% static 'js/jquery-validation.min.js' %}"></script>
<script src="{% static 'js/jquery-validation-additional-methods.min.js' %}"></script>
{% endblock extra_head %}


{% block content %}

<!-- Page Header
============================================= -->
<div class="container">
    <section class="page-header page-header-text-light bg-dark-5 py-5">
        <div class="container">
            <div class="row text-center">
                <div class="col-12">
                    <ul class="breadcrumb mb-0">
                        <li><a href="{% url 'pages:home' %}">Home</a></li>
                        <i class="fas fa-chevron-right next"></i>
                        <li><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
                        <i class="fas fa-chevron-right next"></i>
                        <li><a href="{{ group.get_absolute_url }}">{{ group.name }}</a></li>
                        <i class="fas fa-chevron-right next"></i>
                        <li class="active">{{ product.name }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- Page Header End -->
<div class="container">
    {% include "partials/alerts.html" %}
</div>
<div class="container">
    <h1 class="heading">Customize The Stamp</h1>
</div>
<!-- Stamp customization -->
<section class="customization">
    <div class="details">
        <div class="img" style="background-image: url({% static 'img/checkerboard.png' %});">
            <img src="{{ product.image.url }}" alt="checkerboard">
        </div>
        <div class="desc">
            <p>{{ product.description }}</p>
        </div>
    </div>

    <div class="customize">
        <div class="price">

        </div>
        <div class="customize-details">
            <form action="{% url 'carts:add_to_cart' product.id %}" method="POST" class="form-container"
                id="customize-product">
                {% csrf_token %}
                <div class="body-style grid">
                    <div class="lft">
                        <label for="stamp body">choose body style:</label>
                    </div>
                    <div class="rgt">
                        <div class="input-center">
                            <input type="radio" name="stamp_body" value="1" checked="checked">
                            <img src="{% static 'img/stamp_body/body1.jpg' %}" alt="stamp body">
                        </div>
                        <div class="input-center">
                            <input type="radio" name="body_style" value="2">
                            <img src="{% static 'img/stamp_body/body2.jpg' %}" alt="stamp body">
                        </div>
                        <div class="input-center">
                            <input type="radio" name="body_style" value="3">
                            <img src="{% static 'img/stamp_body/body3.jpg' %}" alt="stamp body">
                        </div>
                    </div>
                </div>
                {% for text, value in customization_fields.items %}
                <div class="line grid">
                    <div class="lft">
                        <label for="{{ value }}">{{ text }}:</label>
                    </div>
                    <div class="rgt stretch form-group">
                        <input type="text" name="{{ value }}" required class="form-control" />
                    </div>
                </div>
                {% endfor %}
                <div class="color grid">
                    <div class="lft">
                        <label for="color">ink color:</label>
                    </div>
                    <div class="rgt">
                        <input type="radio" name="ink_color" value="black" checked="checked"> Black <br>
                        <input type="radio" name="ink_color" value="red"> Red <br>
                        <input type="radio" name="ink_color" value="blue"> Blue <br>
                        <input type="radio" name="ink_color" value="green"> Green <br>
                        <input type="radio" name="ink_color" value="purple"> Purple
                    </div>
                </div>
                <div class="instruction grid">
                    <div class="lft">
                        <label for="">special instruction:</label>
                    </div>
                    <div class="rgt stretch form-group">
                        <textarea name="special_instruction" id="3" cols="30" rows="10" class="form-control"></textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<div class="add">
    <div class="buy">
        <a href="{% url 'pages:add_to_wishlist' product.id %}" class="btn bn"><i class="fas fa-heart"></i>Add to
            Wishlist</a>
    </div>
    <div class="add-cart">
        <!-- <a href="{% url 'carts:add_to_cart' product.id %}" class="btn atc"><i class="fa fa-cart-plus"></i>Add to
            Cart</a> -->
        <a class="btn atc"><i class="fa fa-cart-plus"></i>Add to
            Cart</a>
    </div>
</div>



{% endblock content %}

{% block extra_scripts %}
<script>
    $(".atc").click(function () {
        $("#customize-product").submit();
    });
</script>
<script src="{% static 'js/authentication.js' %}"></script>
{% endblock extra_scripts %}