html, body {
    height: 100%;
}

body {
    background-color: #fff;
    font-family: 'DM Sans', sans-serif !important;
    font-size: 14px;
    font-weight: 500;
    color: #4c4d4d;
    line-height: 22px;
}

#content {
    position: relative;
    top: 81px;
}

.heading {
    text-transform: uppercase;
    font-size: 1.7rem;
    letter-spacing: 3px;
    margin-bottom: 2rem;
    text-align: center;
    color: #333;
    position: relative;
}

.dec {
    font-size: 1rem;
}

/* About Page */

#about .heading {
    margin-top: 2rem;
}

.img-fluid {
    margin: 30px;
}

.about-text {
    margin: 20px;
}

@media only screen and (max-width: 1199px) {
    .about-text img {
        margin-left: -1%;
    }
}

/* Team section */

#team a {
    text-decoration: none;
    color: #fff;
}

#team {
    padding: 0;
    background: #fff;
}

.heading::after {
    content: "";
    width: 10rem;
    height: .8rem;
    background: #45e19f;
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2rem;
}

#team .card-wraper {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    margin-bottom: 3rem;
}

#team .card {
    flex-basis: 18rem;
    background: #ebeef8;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
    box-shadow: .5rem .5rem 3rem rgba(0, 0, 0, .2);
    border-radius: 1rem;
}

#team .card .card-image {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);
    border-radius: 1rem;
}

#team .profile-image {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -7rem;
    z-index: 999;
    border: .5rem solid #ebeef8;
}

#team .card h1 {
    font-size: 1.5rem;
    color: #333;
}

#team .job-title {
    color: #777;
    font-size: 1rem;
    font-weight: 300;
}

#team .about {
    font-size: 1rem;
    font-style: italic;
    text-align: center;
    color: #333;
}

.card .btn {
    background: #4458e3;
    border-radius: 2rem;
    text-transform: uppercase;
    color: #eee;
    font-size: .8rem;
    transition: all .5s;
    margin-bottom: 1rem;
}

.card .btn:hover {
    transform: translateY(-2px);
    box-shadow: .5rem .5rem rgba(0, 0, 0, .2);
}

.card .btn:active {
    transform: translateY();
}

#team .social-media {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-top: 1px solid rgba(0, 0, 0, .1);
    padding-inline-start: 0 !important;
}

.social-media i {
    font-size: 2rem;
    margin-top: 1rem;
    transition: color .5s;
}

.fa-facebook-square {
    color: #3b5999;
}

.fa-twitter-square {
    color: #55acee;
}

.fa-instagram {
    color: #e6683c;
}

.fa-google-plus-square {
    color: #dd4b39
}

.fa-facebook-square:hover, .fa-twitter-square:hover, .fa-instagram:hover, .fa-google-plus-square:hover {
    color: #45e19f
}

@media only screen and (max-width: 1551px) {
    #team .card {
        margin-top: 1rem;
    }
}

@media only screen and (max-width: 699px) {
    #team .card {
        margin-right: 1rem;
        margin-left: 1rem;
    }
}

@media only screen and (min-width: 700px) {
    #team .card-wraper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
    #team .card {
        transition: transform .5s;
    }
    #team .card:hover {
        transform: scale(1.05);
    }
}

/* Pre Footer Section */

#pfooter {
    background: #F6F9FC;
}

.pft {
    padding: 20px 0;
    border-bottom: 2px solid #222;
}

#pfooter .links-container {
    margin-top: 40px;
}

.pft a {
    color: #071a52;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1rem;
}

.h3w {
    color: #071a52;
    text-transform: uppercase;
    font-weight: 600;
}

.pf iframe {
    box-shadow: .5rem .5rem 3rem rgba(0, 0, 0, .2);
}

.pft span {
    color: #071a52;
    font-size: 1rem;
}

.pft i {
    margin-right: 10px;
}

.pft .cnt {
    color: #fff;
    background-color: #4458e3;
    float: right;
    padding: 10px 20px;
    text-transform: none;
    margin-top: -25px;
    border-radius: 2rem;
    text-transform: uppercase;
    font-size: .8rem;
    transition: all .5s;
    border: none;
}

.cnt:hover {
    transform: translateY(-2px);
    box-shadow: .5rem .5rem rgba(0, 0, 0, .2);
}

.cnt:active {
    transform: translateY();
}

.ptfa {
    padding-left: 27px;
}

/* Inquiry Modal */

.contact-modal {
    margin-top: 100px;
}

/* browse stamps section */

#browse-stamps .stamp-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

#browse-stamps .heading {
    margin-top: 2rem;
}

#browse-stamps .stamp-list-item {
    width: 350px;
    box-shadow: 0 0.625rem 3.5rem 0 rgba(198, 203, 222, .45);
    border-radius: 8px;
    text-align: center;
    padding-bottom: 1rem;
    margin-top: 2rem;
}

.stamp-list-item a {
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    color: #212529;
    transition: transform .5s;
}

.stamp-list-item .head {
    color: #777 !important;
    font-weight: bolder;
    font-size: 1.4rem;
    font-family: 'Quicksand', sans-serif;
}

.stamp-types a:hover {
    transform: scale(1.01);
}

.stamp-list-item .head:hover {
    color: #000 !important;
    transform: scale(1.01);
}

.stamp-list-item i {
    font-size: .75em;
    padding-left: 10px;
}

.stamp-list-item span {
    background: #4553FF;
    display: block;
    border-radius: 5px;
    margin: 10px 35px;
    color: #fff;
    text-transform: uppercase;
    padding: 5px 0;
    font-size: 20px;
    font-weight: 700;
}

.stamp-types a {
    font-size: 1rem;
    font-weight: 600;
    padding: 5px;
}

.browse-all {
    justify-items: center;
}

.browse-all a {
    border-radius: 10px;
    margin: 20px;
    color: #fff !important;
    text-align: center;
}

@media only screen and (max-width: 426px) {
    #browse-stamps .stamp-list-item {
        margin: 1rem 2rem;
    }
}

/* Stamp list details */

#stamps-list .stamp-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

#stamps-list .heading {
    margin-top: 2rem;
}

#stamps-list .stamp-details {
    background-color: #fff;
    width: 350px;
    text-align: center;
    margin-top: 2rem;
    border: 1px solid #DBDBDB;
    transition: transform .5s;
    box-shadow: 0 0.625rem 3.5rem 0 rgba(198, 203, 222, .45);
}

#stamps-list .stamp-details:hover {
    transform: scale(1.05);
}

#stamps-list .stamp-desc {
    background-color: #F8F8F8;
}

.stamp-details .stamp-img {
    width: 100%;
    min-height: 12rem;
    display: flex;
    padding: 1rem;
}

.stamp-img a {
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
}

.stamp-img img {
    display: block;
}

.stamp-desc a {
    text-decoration: none;
    text-transform: capitalize;
    color: #777;
    padding: 1rem;
    position: relative;
    display: inline-block;
    transition: all .5s;
}

.stamp-desc a:hover {
    color: #000;
    transform: translateY(-2px);
}

.stamp-price {
    color: #e42448;
}

.stamp-detail-btn {
    display: block;
    background-color: #e42448;
    padding: .5rem 1.5rem !important;
    border-radius: .5rem;
    color: #fff !important;
    margin-bottom: 1rem;
    transition: all .5s;
}

.stamp-detail-btn:hover {
    transform: translateY(-2px);
    box-shadow: .5rem .5rem rgba(0, 0, 0, .2);
    background-color: #6772e5 !important;
}

/* stamp types */

.stamp-type-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

.stamp-type-details {
    width: 350px;
    text-align: center;
    margin-top: 1rem;
    border: 1px solid #DBDBDB;
    box-shadow: 0 0.625rem 3.5rem 0 rgba(198, 203, 222, .45);
}

.stamp-type-img {
    padding: 2rem;
}

.stamp-type-desc {
    background-color: #F8F8F8;
    height: 5rem;
    display: flex;
}

.stamp-type-desc a {
    display: flex;
    padding: 1rem 0;
    text-decoration: none;
    color: #777;
    margin: auto;
    transition: transform .5s;
    text-transform: capitalize;
}

.stamp-type-desc a:hover {
    transform: scale(1.05);
    color: #222;
}

.stamp-type-desc i {
    display: inline-block;
    margin: auto;
    padding: .1rem 0 0 .5rem;
}

/* bestseller */

.bestseller .heading {
    font-size: 2rem;
    margin-bottom: 2rem;
    margin-top: 5rem !important;
    color: #4458e3;
}

/* Stamp customization */

.customization {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-auto-rows: minmax(auto, auto);
    grid-gap: 2rem;
    align-content: center;
}

.customization .details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1rem 0 1rem 1rem;
}

.details .img {
    display: flex;
    padding: 1.5rem;
    border: 1px solid #DBDBDB;
    box-shadow: 0 0.625rem 3.5rem 0 rgba(198, 203, 222, .45);
    background-image: url(../img/checkerboard.png);
    background-size: 100%;
}

.details img {
    max-width: 100%;
    height: auto;
    margin: auto
}

.details .desc {
    border: 1px solid #DBDBDB;
    box-shadow: 0 0.625rem 3.5rem 0 rgba(198, 203, 222, .45);
    padding: 1rem;
}

/* Stamp customization */

.customize {
    margin: 1rem 1rem 1rem 0;
}

.customize .form-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: (auto, auto);
    grid-row-gap: 1rem;
}

.customize label {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: minmax(auto, auto);
    border: 1px solid #DBDBDB;
    box-shadow: 0 0.625rem 3.5rem 0 rgba(198, 203, 222, .45);
    padding: 1rem;
    align-items: center;
}

.body-style, .color, .instruction {
    align-items: start;
}

.stretch {
    display: block;
    /* display: flex;
    flex-direction: row; */
}

.stretch input, .stretch textarea {
    flex: 1;
}

.lft label {
    text-transform: capitalize;
}

.form-group {
    margin-bottom: 0 !important;
}

.rgt img {
    width: 100%;
}

.rgt .error {
    margin-top: .5rem;
}

.input-center {
    display: flex;
    flex-direction: row;
}

.input-center input {
    flex: 1
}

.input-center img {
    flex: 7;
}

#body_style-error {}

/* Add to cart */

.add, .quantity {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    align-items: center;
    margin: 1.5rem 0;
}

.quantity select {
    justify-self: left;
    width: 4.5rem;
}

.add .buy, .quantity label {
    justify-self: right;
}

.add i {
    padding-right: .5rem;
}

.bn, .atc {
    color: #fff !important;
    transition: transform .5s;
    box-shadow: 0 0.625rem 3.5rem 0 rgba(198, 203, 222, .45);
}

.add .bn {
    background-color: #e42448;
}

.add .atc {
    background-color: #4458e3;
}

.bn:hover, .atc:hover {
    transform: scale(1.05);
    color: #fff !important;
}

.grid .rgt input[type="radio"] {
    align-self: center;
}

@media (max-width: 831px) {
    .customization {
        grid-gap: 1rem;
    }
    .details, .customize {
        margin: 0 1rem !important;
    }
}

@media (max-width: 406px) {
    .customization {
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    }
}

/* Validation */

.wrap-input100 .error {
    position: relative;
    top: 2rem;
    bottom: 1rem;
    color: red;
}

/* Login */

.wave {
    position: fixed;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.content-container {
    widows: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7rem;
    padding: 0 2rem;
}

.content-container .img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.content-container .img img {
    width: 30rem;
}

.login-container {
    display: flex;
    align-items: center;
    text-align: center;
}

.content-container form {
    width: 360px;
}

.login-container .avatar {
    width: 100px;
}

.login-container form h2 {
    font-size: 2.9rem;
    text-transform: uppercase;
    margin: 1rem 0;
    color: #333;
}

.input-div {
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 2rem 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.input-div::after, .input-div::before {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #38CE3E;
    transition: .3s;
}

.input-div::after {
    right: 50%;
}

.input-div::before {
    left: 50%;
}

.input-div.focus .i i {
    color: #38CE3E;
}

.input-div.focus div h5 {
    top: 0px;
    font-size: 15px;
    color: #777;
}

.input-div.focus::after, .input-div.focus::before {
    width: 50%;
}

.input-div.one {
    margin-top: 2rem;
}

.input-div.two {
    margin-bottom: 4px;
}

.login-container form .i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container form .i i {
    color: #d9d9d9;
    transition: .3s;
    margin-top: .3rem;
}

.input-div>div {
    position: relative;
    height: 35px;
}

.input-div>div h5 {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
    transition: .3s;
    color: #d9d9d9;
}

.login-container .input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    background: none;
    padding: 0rem 0.5rem;
    font-size: .8rem;
    color: #555;
    margin-top: .3rem;
}

.content-container .forgot {
    text-decoration: none;
    display: block;
    text-align: right;
    color: #999;
    font-size: 0.9rem;
    transition: .3s;
}

.forgot:hover {
    color: #38d39f;
}

.auth-btn {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    margin: 2rem 0 1rem 0;
    font-size: 1.2rem;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #38CE3E, #9FF2A2, #38CE3E);
    cursor: pointer;
    background-size: 200%;
    transition: .5s;
    text-transform: uppercase;
    color: #fff;
}

.auth-btn:hover {
    background-position: right;
}

.login-container .link {
    text-decoration: none;
}

.register .input-div {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.login .input-div label.error {
    margin-top: 3rem;
    position: absolute;
    left: -1rem;
    font-size: .7rem;
    color: red;
}

.register .input-div label.error {
    margin-top: 3rem;
    position: absolute;
    font-size: .7rem;
    left: .5rem;
    color: red;
}

/* Social authentication */

.social-login {
    display: grid;
    grid-template-columns: repeat(2, 40%);
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.social-login a {
    padding: .3rem;
    box-shadow: 0 0.625rem 3.5rem 0 rgba(198, 203, 222, .45);
    transition: .5s;
}

.social-login a:hover {
    transform: scale(1.05);
}

.social-login .google-login, .social-login .facebook-login {
    background-color: #eee;
}

.social-login .google-login img {
    width: 1rem;
    margin-bottom: .2rem;
    margin-right: .5rem;
}

.social-login .facebook-login img {
    width: 1.2rem;
    margin-right: .5rem;
    margin-bottom: .1rem;
}

@media (max-width: 1050px) {
    .content-container {
        grid-gap: 5rem;
    }
}

@media (max-width: 1000px) {
    .content-container form {
        width: 290px;
    }
    .content-container form h2 {
        font-size: 2.4rem;
        margin: 10px 0;
    }
    .content-container .img img {
        width: 400px;
    }
}

@media (max-width: 900px) {
    .content-container .img {
        display: none;
    }
    .content-container {
        grid-template-columns: 1fr;
    }
    .login-container {
        justify-content: center;
    }
}

/* My Cart Page */

.my_custom_table {
    min-width: 400px;
    font-size: 14px;
}

.my_title {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.5rem;
}

.my_custom_table .prod-name {
    text-transform: capitalize;
    color: #212529;
}

.my_custom_thead {
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: .2rem;
    background-color: #f8f9fa !important;
}

.custom_image {
    width: 100px;
    height: 100px;
}

.custom_a {
    text-decoration: none;
}

.custom_icon {
    text-decoration: none;
    color: #868e96 !important;
}

.my_custom_button {
    margin-top: 5px;
}

.counter {
    /* width: 25px;
    height: 25px; */
    border-radius: 50%;
    position: absolute;
    left: 1.7rem;
    top: 1.2rem;
    background-color: #f16565;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    white-space: nowrap;
    text-align: center;
    line-height: 18px;
    padding: 0 8px;
    height: 18px;
}

.hidden {
    display: none !important;
}

/* Delivery address */

.sel-add {
    margin-top: 2rem;
}

.a-head {
    text-align: center;
    letter-spacing: 2px;
    color: #303a52;
}

.select-address .col-12 {
    margin-top: 1rem;
}

.add-details {
    display: flex;
    flex-direction: column;
    background-color: #f4fdfb;
    border: 1px solid #b9f0e5;
    padding: 1rem;
    border-radius: 5px;
}

.add-1 {
    display: flex;
    flex-direction: row;
}

.add-1 span {
    flex-basis: 50px;
}

.add-1>div {
    width: 20rem;
}

.add-1 .name {
    font-weight: 600;
    font-size: 14px;
    color: #282c3f;
    text-transform: capitalize;
    word-break: break-word;
}

.add-1 .type-add {
    font-size: 10px;
    padding: 2px 8px;
    border-radius: 20px;
    color: #03a685;
    font-weight: 600;
    border: 1px solid #03a685;
    margin-left: 8px;
    line-height: 12px;
}

.add-1 .de-1 {
    font-size: .8rem;
}

.de {
    margin-top: .5rem;
}

.add-2 {
    margin: 1rem 2rem 1rem 3rem;
}

.add-2 .edit-btn, .del-btn {
    color: #282c3f;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: .5px;
    background: transparent;
    cursor: pointer;
    border: 1px solid #282c3f;
    border-radius: 4px;
    padding: 6.5px 16px;
}

.del-btn {
    margin-left: 2rem;
}

.new-dd {
    box-shadow: 0 0 4px rgba(40, 44, 63, .08);
    padding: 27px 0 26px 19px;
    cursor: pointer;
    border: 1px dashed #d4d5d9;
}

.new-dd i, .new-dd h5 {
    display: inline;
}

.add-plus i {
    color: #222;
    margin-left: .5rem;
}

.add-plus h5 {
    margin-left: .5rem;
    font-size: 1.2rem;
    text-transform: capitalize;
    letter-spacing: 1.5px;
}

.a {
    margin-bottom: 1rem;
}

.det {
    margin-top: 3rem;
}

.price-details>div {
    padding: 1rem;
}

.rt {
    float: right;
}

.del-add {
    background-color: #88bef5;
    width: 100%;
    color: #071e3d;
}

.de-in {
    margin-top: 1rem;
}

.txt {
    font-size: .9rem;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.free {
    color: #21e6c1;
}

#address_id-error {
    position: absolute;
    top: -1.8rem;
    font-size: 1rem !important;
}

/* Payment options pictures */

.mg img {
    width: 5rem;
    height: 2.5rem;
    margin-left: 2rem;
}

.col-sm-4 {
    width: 50%;
}

.py {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Payment Page */

.deliver-to {
    padding: 1rem;
}

.deliver-to h4 {
    letter-spacing: 1px;
    font-size: 1.3rem;
    color: #ff304f;
}

/* Orders */

.o-item {
    width: 20rem;
}

.o-item .o-img img {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}