{% extends "base.html" %}
{% load static %}


{% block title %}
Cart -
{% endblock title %}


{% block content %}
{% if not cart_items %}
<div>
    <div class="text-center">
        <br>
        <h1 class="text-center my_title">
            Your shopping cart is empty
        </h1>
        <br>
        <p class="text-center">
            Please click <a href="{% url 'stamps:browse_stamps' %}">here</a> to continue shopping
        </p>
    </div>
</div>
{% else %}
<div>
    <div class="text-center">
        <br>
        <h1 class="text-center my_title">
            Your Shoping Cart
        </h1>
        <br>
    </div>
</div>
<div class="container">
    <div class="row mx-auto">
        <div class="col-12 col-sm-12 col-lg-12 text-center">
            <div class="table my_custom_table">
                <div class="my_custom_thead">
                    <div>
                        <div class="text-center" style="height: 37px; padding-top: 8px; font-size: 18px;">
                            Your items
                        </div>
                    </div>
                </div>
                <div class="mt-3">
                    {% for cart_item in cart_items %}
                    <div>
                        <div class="row">
                            <div class="col-lg-5 col-md-12 col-sm-12 ">
                                <a href="{{ cart_item.product.get_absolute_url }}" style="display: block;">
                                    <img src="{{ cart_item.product.image.url }}" alt=""
                                        class="rounded custom_image mx-auto">
                                </a>
                            </div>
                            <div class="col-lg-7 col-md-12 col-sm-12 mt-lg-0 mt-md-4 mt-sm-4 mt4">
                                <div class="row">
                                    <div class="col-4 align-items-center">
                                        <div class="text-left">
                                            <div class="mb-2">
                                                <strong>
                                                    <a class='prod-name'
                                                        href="{{ cart_item.product.get_absolute_url }}">{{ cart_item.product.name }}</a>
                                                </strong>
                                            </div>

                                            <div class="mb-2"> Price: &#8377;{{ cart_item.product.price }}</div>

                                            <div class="mb-2"> Qty: {{ cart_item.quantity }}</div>
                                        </div>
                                    </div>

                                    <div class="col-4">
                                        <span>&#8377;{{ cart_item.sub_total }}</span>
                                    </div>

                                    <div class="col-4">
                                        <div>
                                            <a href="{% url 'carts:increase_quantity' cart_item.id %}"
                                                title="Increase Quantity" data-toggle="tooltip" class="custom_a">
                                                <i class="fas fa-plus-circle custom_icon"></i>
                                            </a>&nbsp;
                                            <a href="{% url 'carts:decrease_quantity' cart_item.id %}"
                                                title="Decrease Quantity" data-toggle="tooltip" class="custom_a">
                                                <i class="fas fa-minus-circle custom_icon"></i>
                                            </a>&nbsp;
                                            <a href="{% url 'carts:remove_from_cart' cart_item.id %}" title="Remove"
                                                data-toggle="tooltip" class="custom_a">
                                                <i class="fas fa-trash custom_icon"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-2">
                            <h6>Stamp Customization Details</h6>
                            <div class="row">
                                <div class="col-6 text-left">
                                    <div style="width: fit-content;" class="ml-auto">
                                        {% if cart_item.customization_data.ink_color %}
                                        <div class="mt-1">
                                            <strong>Ink Color: </strong>
                                        </div>
                                        {% endif %}
                                        {% if cart_item.customization_data.line1 %}
                                        <div class="mt-1">
                                            <strong>Line 1: </strong>
                                        </div>
                                        {% endif %}
                                        {% if cart_item.customization_data.line2 %}
                                        <div class="mt-1">
                                            <strong>Line 2: </strong>
                                        </div>
                                        {% endif %}
                                        {% if cart_item.customization_data.line3 %}
                                        <div class="mt-1">
                                            <strong>Line 3: </strong>
                                        </div>
                                        {% endif %}
                                        {% if cart_item.customization_data.line4 %}
                                        <div class="mt-1">
                                            <strong>Line 4: </strong>
                                        </div>
                                        {% endif %}
                                        {% if cart_item.customization_data.line5 %}
                                        <div class="mt-1">
                                            <strong>Line 5: </strong>
                                        </div>
                                        {% endif %}
                                        {% if cart_item.customization_data.text %}
                                        <div class="mt-1">
                                            <strong>Text: </strong>
                                        </div>
                                        {% endif %}
                                        {% if cart_item.customization_data.top_outer_circle_text %}
                                        <div class="mt-1">
                                            <strong>Top Outer Circle Text: </strong>
                                        </div>
                                        {% endif %}
                                        {% if cart_item.customization_data.monogram_initial %}
                                        <div class="mt-1">
                                            <strong>Monogram Initial: </strong>
                                        </div>
                                        {% endif %}
                                        {% if cart_item.customization_data.center_text %}
                                        <div class="mt-1">
                                            <strong>Center Text: </strong>
                                        </div>
                                        {% endif %}
                                        {% if cart_item.customization_data.bottom_outer_circle_text %}
                                        <div class="mt-1">
                                            <strong>Bottom Outer Circle Text: </strong>
                                        </div>
                                        {% endif %}
                                        {% if cart_item.customization_data.below_arrow %}
                                        <div class="mt-1">
                                            <strong>Below Arrow: </strong>
                                        </div>
                                        {% endif %}
                                        {% if cart_item.customization_data.special_instruction %}
                                        <div class="mt-1">
                                            <strong>Special Instruction </strong>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-6 text-left">
                                    <div>
                                        {% if cart_item.customization_data.ink_color %}
                                        <div class="mt-1">
                                            <span>{{ cart_item.customization_data.ink_color }}</span>
                                        </div>
                                        {% endif %}
                                        {% if cart_item.customization_data.line1 %}
                                        <div class="mt-1">
                                            <span>{{ cart_item.customization_data.line1 }}</span>
                                        </div>
                                        {% endif %}
                                        {% if cart_item.customization_data.line2 %}
                                        <div class="mt-1">
                                            <span>{{ cart_item.customization_data.line2 }}</span>
                                        </div>
                                        {% endif %}
                                        {% if cart_item.customization_data.line3 %}
                                        <div class="mt-1">
                                            <span>{{ cart_item.customization_data.line3 }}</span>
                                        </div>
                                        {% endif %}
                                        {% if cart_item.customization_data.line4 %}
                                        <div class="mt-1">
                                            <span>{{ cart_item.customization_data.line4 }}</span>
                                        </div>
                                        {% endif %}
                                        {% if cart_item.customization_data.line5 %}
                                        <div class="mt-1">
                                            <span>{{ cart_item.customization_data.line5 }}</span>
                                        </div>
                                        {% endif %}
                                        {% if cart_item.customization_data.text %}
                                        <div class="mt-1">
                                            <span>{{ cart_item.customization_data.text }}</span>
                                        </div>
                                        {% endif %}
                                        {% if cart_item.customization_data.top_outer_circle_text %}
                                        <div class="mt-1">
                                            <span>{{ cart_item.customization_data.top_outer_circle_text }}</span>
                                        </div>
                                        {% endif %}
                                        {% if cart_item.customization_data.monogram_initial %}
                                        <div class="mt-1">
                                            <span>{{ cart_item.customization_data.monogram_initial }}</span>
                                        </div>
                                        {% endif %}
                                        {% if cart_item.customization_data.center_text %}
                                        <div class="mt-1">
                                            <span>{{ cart_item.customization_data.center_text }}</span>
                                        </div>
                                        {% endif %}
                                        {% if cart_item.customization_data.bottom_outer_circle_text %}
                                        <div class="mt-1">
                                            <span>{{ cart_item.customization_data.bottom_outer_circle_text }}</span>
                                        </div>
                                        {% endif %}
                                        {% if cart_item.customization_data.below_arrow %}
                                        <div class="mt-1">
                                            <span>{{ cart_item.customization_data.below_arrow }}</span>
                                        </div>
                                        {% endif %}
                                        {% if cart_item.customization_data.special_instruction %}
                                        <div class="mt-1">
                                            <span>{{ cart_item.customization_data.special_instruction }}</span>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-lg-12 text-center">
                <div class="table my_custom_table">
                    <div class="my_custom_thead mt-2">
                        <div>
                            <div style="height: 37px; padding-top: 8px; font-size: 18px;">
                                Checkout
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="mt-2">
                            <div>
                                Please review your shopping cart with the order payment.
                            </div>
                        </div>
                        <div class="mt-2">
                            <div class="text-center" style="font-size: 20px;">
                                Your Total Is: <strong style="color: chocolate;">&#8377;{{ total }}</strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mx-auto">
                    <a href="{% url 'stamps:browse_stamps' %}"
                        class="btn btn-secondary btn-inline-block my_custom_button">Continue
                        Shopping</a>
                    <a href="{% url 'orders:delivery_address' %}"
                        class="btn btn-secondary btn-inline-block my_custom_button">Checkout</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
{% include "partials/payments.html" %}
{% endif %}
{% endblock content %}