{% extends "base.html" %}
{% load static %}
{% block extra_head %}
<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.min.css' %}" />

{% endblock extra_head %}
{% block content %}
<!-- Header ============================================= -->

<!-- Secondary Menu ============================================= -->
<div class="bg-primary">
  <div class="container d-flex justify-content-center">
    <ul class="nav secondary-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts:view_profile' %}">Account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'orders:view_orders' %}">Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'pages:wishlist' %}">Wish List</a>
      </li>
    </ul>
  </div>
</div>
<!-- Secondary Menu end -->

<!-- Content ============================================= -->

<h2 class="heading mt-4">Your Orders</h2>
<hr>
<div class="container">
  {% include "partials/alerts.html" %}
  {% for order in orders %}
  {% if order.cart.cart_item.all %}
  <div class="mb-4 pb-4" style="border: 2px solid #c5e3f6; border-radius: 10px; padding: 1rem 0; width: 100%">
    <h5 style="text-align: center; color: #fc5185;">Order Id: {{ order.order_id }}</h5>
    <h5 style="text-align: center; color: #fc5185;">Order Total Price: &#8377;{{ order.total }}</h5>
    <div class="row mx-auto">
      <div class="col-12 col-sm-12 col-lg-12 text-center">
        <div class="table my_custom_table">
          <div class="mt-3">
            {% for cart_item in order.cart.cart_item.all %}
            <div>
              <div class="row">
                <div class="col-lg-5 col-md-12 col-sm-12 ">
                  <a href="{{ cart_item.product.get_absolute_url }}" style="display: block;">
                    <img src="{{ cart_item.product.image.url }}" alt=""
                      class="rounded custom_image mx-auto w-100 h-100">
                  </a>
                </div>
                <div class="col-lg-7 col-md-12 col-sm-12 mt-lg-0 mt-md-4 mt-sm-4 mt4">
                  <div class="row">
                    <div class="col-6 align-items-center">
                      <div class="text-left">
                        <div class="mb-2">
                          <strong>
                            <a class='prod-name'
                              href="{{ cart_item.product.get_absolute_url }}">{{ cart_item.product.name }}</a>
                          </strong>
                        </div>

                        <div class="mb-2"> Price: &#8377;{{ cart_item.product.price }}</div>

                        <div class="mb-2"> Qty: {{ cart_item.quantity }}</div>
                      </div>
                    </div>

                    <div class="col-6 mx-auto">
                      <span>&#8377;{{ cart_item.sub_total }}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mt-2">
                <h6>Stamp Customization Details</h6>
                <div class="row">
                  <div class="col-6 text-left">
                    <div style="width: fit-content;" class="ml-auto">
                      {% if cart_item.customization_data.ink_color %}
                      <div class="mt-1">
                        <strong>Ink Color: </strong>
                      </div>
                      {% endif %}
                      {% if cart_item.customization_data.line1 %}
                      <div class="mt-1">
                        <strong>Line 1: </strong>
                      </div>
                      {% endif %}
                      {% if cart_item.customization_data.line2 %}
                      <div class="mt-1">
                        <strong>Line 2: </strong>
                      </div>
                      {% endif %}
                      {% if cart_item.customization_data.line3 %}
                      <div class="mt-1">
                        <strong>Line 3: </strong>
                      </div>
                      {% endif %}
                      {% if cart_item.customization_data.line4 %}
                      <div class="mt-1">
                        <strong>Line 4: </strong>
                      </div>
                      {% endif %}
                      {% if cart_item.customization_data.line5 %}
                      <div class="mt-1">
                        <strong>Line 5: </strong>
                      </div>
                      {% endif %}
                      {% if cart_item.customization_data.text %}
                      <div class="mt-1">
                        <strong>Text: </strong>
                      </div>
                      {% endif %}
                      {% if cart_item.customization_data.top_outer_circle_text %}
                      <div class="mt-1">
                        <strong>Top Outer Circle Text: </strong>
                      </div>
                      {% endif %}
                      {% if cart_item.customization_data.monogram_initial %}
                      <div class="mt-1">
                        <strong>Monogram Initial: </strong>
                      </div>
                      {% endif %}
                      {% if cart_item.customization_data.center_text %}
                      <div class="mt-1">
                        <strong>Center Text: </strong>
                      </div>
                      {% endif %}
                      {% if cart_item.customization_data.bottom_outer_circle_text %}
                      <div class="mt-1">
                        <strong>Bottom Outer Circle Text: </strong>
                      </div>
                      {% endif %}
                      {% if cart_item.customization_data.below_arrow %}
                      <div class="mt-1">
                        <strong>Below Arrow: </strong>
                      </div>
                      {% endif %}
                      {% if cart_item.customization_data.special_instruction %}
                      <div class="mt-1">
                        <strong>Special Instruction: </strong>
                      </div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="col-6 text-left">
                    <div>
                      {% if cart_item.customization_data.ink_color %}
                      <div class="mt-1">
                        <span>{{ cart_item.customization_data.ink_color }}</span>
                      </div>
                      {% endif %}
                      {% if cart_item.customization_data.line1 %}
                      <div class="mt-1">
                        <span>{{ cart_item.customization_data.line1 }}</span>
                      </div>
                      {% endif %}
                      {% if cart_item.customization_data.line2 %}
                      <div class="mt-1">
                        <span>{{ cart_item.customization_data.line2 }}</span>
                      </div>
                      {% endif %}
                      {% if cart_item.customization_data.line3 %}
                      <div class="mt-1">
                        <span>{{ cart_item.customization_data.line3 }}</span>
                      </div>
                      {% endif %}
                      {% if cart_item.customization_data.line4 %}
                      <div class="mt-1">
                        <span>{{ cart_item.customization_data.line4 }}</span>
                      </div>
                      {% endif %}
                      {% if cart_item.customization_data.line5 %}
                      <div class="mt-1">
                        <span>{{ cart_item.customization_data.line5 }}</span>
                      </div>
                      {% endif %}
                      {% if cart_item.customization_data.text %}
                      <div class="mt-1">
                        <span>{{ cart_item.customization_data.text }}</span>
                      </div>
                      {% endif %}
                      {% if cart_item.customization_data.top_outer_circle_text %}
                      <div class="mt-1 mb-s1">
                        <span>{{ cart_item.customization_data.top_outer_circle_text }}</span>
                      </div>
                      {% endif %}
                      {% if cart_item.customization_data.monogram_initial %}
                      <div class="mt-1">
                        <span>{{ cart_item.customization_data.monogram_initial }}</span>
                      </div>
                      {% endif %}
                      {% if cart_item.customization_data.center_text %}
                      <div class="mt-1">
                        <span>{{ cart_item.customization_data.center_text }}</span>
                      </div>
                      {% endif %}
                      {% if cart_item.customization_data.bottom_outer_circle_text %}
                      <div class="mt-1 mb-s2">
                        <span>{{ cart_item.customization_data.bottom_outer_circle_text }}</span>
                      </div>

                      {% endif %}
                      {% if cart_item.customization_data.below_arrow %}
                      <div class="mt-1">
                        <span>{{ cart_item.customization_data.below_arrow }}</span>
                      </div>
                      {% endif %}
                      {% if cart_item.customization_data.special_instruction %}
                      <div class="mt-1">
                        <span>{{ cart_item.customization_data.special_instruction }}</span>
                      </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="row p-3">
      <div class="deliver-to col-md-6 col-sm-12">
        <h4>Delivery Address:</h4>
        <div class="txt mt-2">{{ user.first_name }} {{ user.last_name }}</div>
        <div class="txt mt-2">{{ order.delivery_address.address }}</div>
        <div class="txt mt-2">{{ order.delivery_address.city }}</div>
        <div class="txt mt-2">{{ order.delivery_address.state }} {{ order.delivery_address.zip_code }}</div>
        <div class="txt mt-2">Mobile: <strong>{{ user.profile.phone }}</strong></div>
      </div>
      <div class="col-md-6 col-sm-12 text-center">
        <div class="mx-auto"
          style="text-transform: capitalize; background: #FFE350; border-radius: 5px; padding: 1rem; color: #000; letter-spacing: 1px; margin-right: 1rem">
          Payment Status: {{ order.payment_status }}</div>
      </div>
    </div>
    <div class="row w-100 ml-0 text-center">
      <div class="col-lg-6 col-md-6 col-sm-12">
        {% if order.order_status != 'cancelled' %}
        <a class="stamp-detail-btn ml-2 mx-auto" href="{% url 'orders:cancel_order' order.order_id %}">CANCEL
          ORDER
        </a>
        {% else %}
        <a class="stamp-detail-btn ml-2 mx-auto" href="{% url 'orders:re_order' order.order_id %}">RE-ORDER
        </a>
        {% endif %}
      </div>
      <div class="ml-auto col-lg-6 col-md-6 col-sm-12 mt-sm-2 mt-lg-0 mt-md-0">
        <span class="mx-auto"
          style="text-transform: capitalize; background: #c4dff6; border-radius: 5px; padding: 1rem; color: #000; letter-spacing: 1px; margin-right: 1rem"><strong>order
            status:
            {{order.order_status}}</strong>
        </span>
      </div>
    </div>
  </div>
  {% endif %}
  <hr>
  {% endfor %}
</div>

<!-- Content end -->

{% endblock content %}
{% block extra_scripts %}
{% endblock extra_scripts %}