{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row mt-4">
        <div class="col-md-8 col-sm-12">
            <div class="row text-center">
                <div class="col-12">
                    <h1 class="heading">Order Summary</h1>
                    <div class="row">
                        {% if cart_items %}

                        {% endif %}
                        <div class="col-3 col-sm-12">
                            <div>
                                <img src="" alt="">
                            </div>
                        </div>
                        <div class="col-3 col-sm-12">
                            <div></div>
                        </div>
                        <div class="col-3 col-sm-12">
                            <div></div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-6">
                            <form action="http://yarzai.xyz/orders/checkout/success/{{ order.order_id | lower }}/"
                                method="POST">
                                {% csrf_token %}
                                <script src="https://checkout.razorpay.com/v1/checkout.js" data-key="{{ key_id }}"
                                    data-amount="100" data-currency="INR" data-order_id="{{ order_id }}"
                                    data-buttontext="Pay Now" data-name="Dangui Stamp Makers"
                                    data-description="Pay for your order" data-image="{% static 'img/logo/logo3.png' %}"
                                    data-prefill.name="Aziz Rahman Yarzai" data-prefill.email="{{ user.email }}"
                                    data-prefill.contact="{{ user.profile.phone }}" data-theme.color="#317CFF">
                                    </script>
                                <input type="hidden" custom="Hidden Element" name="hidden">
                            </form>
                        </div>
                        <div class="col-6">
                            <div class=" payment-options">
                                <button class="cod">Cash On Delivery</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="price-details">
                <h3 class="a-head">Price Details</h3>
                <hr />
                <div>
                    <div class="de-in">
                        <span class="txt">Order Total</span>
                        <span class="rt">&#8377;{{ order.total }}</span>
                    </div>
                    <div class="de-in">
                        <span class="txt">Delivery Charges</span>
                        <span
                            class="rt {% if order.delivery_charges <= 0 %} free {% endif %}">{% if order.delivery_charges > 0 %} &#8377;{{
                      order.delivery_charges }} {% else %} FREE {% endif %}</span>
                    </div>
                    <hr />
                    <div>
                        <span class="txt">Total</span>
                        <span class="rt">&#8377;{{ order.total }}</span>
                    </div>
                </div>
            </div>
            <div class="deliver-to">
                <h4>Deliver To:</h4>
                <div class="txt mt-2">{{ user.first_name }} {{ user.last_name }}</div>
                <div class="txt mt-2">{{ order.delivery_address.address }}</div>
                <div class="txt mt-2">{{ order.delivery_address.city }}</div>
                <div class="txt mt-2">{{ order.delivery_address.state }} {{ order.delivery_address.zip_code }}</div>
                <div class="txt mt-2">Mobile: <strong>{{ user.profile.phone }}</strong></div>
            </div>
        </div>
    </div>
</div>
{% include "partials/payments.html" %}
{% endblock content %}